.logo {
  display: flex;
  cursor: pointer;

  &__image {
    margin-right: 16px;
  }

  &__text {
    h2 {
      font-family: var(--font-base);
      font-size: 1.25rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
    }

    p {
      font-family: var(--font-base);
      font-size: 14px;
      font-weight: 400;
      color: var(--gray-light);
    }
  }
}
