.sneakers {
  &__card {
    max-width: var(--card-width);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;

    position: relative;

    border-radius: 40px;
    border: 1px solid var(--gray-200);
    background: #fff;
    transition: box-shadow 200ms ease, transform 200ms ease;

    &:hover {
      box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
      transform: translateY(-8px);
    }

    h5 {
      font-family: var(--font-base);
      font-size: 0.875rem;
      font-weight: 500;
      color: #000;
    }

    &-price {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        span {
          font-family: var(--font-base);
          font-size: 0.6875rem;
          font-weight: 500;
          text-transform: uppercase;
          color: var(--gray-300);
          margin-bottom: 2px;
        }

        b {
          font-family: var(--font-base);
          font-size: 0.875rem;
          font-weight: 700;
          color: #000;
        }
      }
    }

    &-button {
      position: absolute;
      top: 20px;
      left: 20px;
    }
  }
}
