.drawer {
  position: fixed;
  inset: 0;
  z-index: 5;

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    position: fixed;
    right: 0;
    height: 100%;
    width: 400px;
    padding: 30px;
    background-color: #fff;
    z-index: 6;
  }

  &__content-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    button {
      opacity: 0.75;
      transition: opacity 100ms ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__content-footer {
    &_price {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 20px;

      li {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        span {
          font-size: 1rem;
          line-height: 1;
          color: #000;
        }

        div {
          flex: 1;
          position: relative;
          bottom: 4px;
          border-bottom: 1px dotted var(--gray-300);
        }

        span:last-child {
          font-weight: 700;
        }
      }
    }

    &_button {
      button {
        transition: background-position 200ms ease-in-out;
        background-repeat: no-repeat;
      }

      &--forward {
        button {
          background-image: url(../../assets/arrow-right.svg);
          background-position: 88% 50%;

          &:hover {
            background-position: 92% 50%;
          }
        }
      }

      &--backward {
        button {
          background-image: url(../../assets/arrow-left.svg);
          background-position: 12% 50%;

          &:hover {
            background-position: 8% 50%;
          }
        }
      }
    }
  }
}
