.drawer {
  position: fixed;
  inset: 0;

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    position: fixed;
    right: 0;
    height: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    z-index: 5;

    overflow-y: scroll;
  }

  &__content-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    button {
      opacity: 0.75;
      transition: opacity 100ms ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__content-sneakersList {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid var(--gray-200);
      overflow: hidden;

      &-description {
        margin: 0 10px 0 20px;
        font-family: var(--font-base);
        color: #000;

        h5 {
          font-size: 1rem;
          font-weight: 400;
          margin-bottom: 6px;
        }

        b {
          font-size: 0.875rem;
          font-weight: 700;
        }
      }

      button {
        opacity: 0.5;
        align-self: flex-end;
        transition: opacity 100ms ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__content-footer {
    &_price {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 20px;

      li {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        span {
          font-size: 1rem;
          line-height: 1;
          color: #000;
        }

        div {
          flex: 1;
          position: relative;
          bottom: 4px;
          border-bottom: 1px dotted var(--gray-300);
        }

        span:last-child {
          font-weight: 700;
        }
      }
    }

    &_button {
      position: relative;

      button {
        background-image: url(../../assets/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: 88% 50%;
        transition: background-position 200ms ease-in-out;

        &:hover {
          background-position: 92% 50%;
        }
      }
    }
  }
}
