.section {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 40px;

    &-heading {
      h1 {
        font-family: var(--font-base);
        font-size: 2rem;
        font-weight: 700;
        color: #000;
      }

      a {
        opacity: 0.5;
        margin-right: 20px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__content {
    --card-width: 210px;

    &-items {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, var(--card-width));
      place-content: center;
      gap: 2.25rem;
    }
  }
}
