.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-200);

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 2rem;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      span {
        font-family: var(--font-base);
        font-size: 14px;
        font-weight: 600;
        color: var(--gray-dark);
      }
    }
  }
}
